<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div padding>
   <p>{{text}}</p>
   <ion-button (click)="open_Page()" expand="block"> click (open page ) </ion-button>
   <ion-button routerLink="/details" expand="block" > click (open page ) with router</ion-button>
  </div>
</ion-content>
